{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}


<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-1/2 mx-auto flex flex-wrap">
            <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <a href="{% url 'leads:lead-detail' object.lead.pk  %}">Go back to followup</a>
                <hr />
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">Update this followup</h1>

                <form method="POST" action="">
                    {% csrf_token %} {{ form|crispy}}
                    <button
                        class="w-full text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                        type="submit">
                        Submit
                    </button>
                </form>
                <div class="mt-5 pt-5 border-t border-gray-200">
                    <a href="{% url 'leads:lead-followup-delete' followup.pk %}"
                        class="text-white bg-red-500 hover:bg-red-600 px-3 py-2 rounded-md">
                        Delete
                    </a>
                </div>
            </div>
        </div>
</section>

{% endblock content %}