{% extends "base.html" %} {% block content %}

<div class="container px-5 py-24 mx-auto flex flex-wrap">
  <div class="
        w-full
        mb-6
        py-6
        flex
        justify-between
        items-center
        border-b border-gray-200
      ">
    <div>
      <h1 class="text-4xl text-gray-800">Leads</h1>

    </div>
    {% if request.user.is_organizer %}
    <div>
      <a class="text-gray-500 hover:text-blue-500" href="{% url 'leads:lead-create' %}">Create a new lead</a>
    </div>
    {% endif %}
  </div>
  {% if leads %}
  <table class="min-w-max w-full table-auto">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">NAME</th>
        <th class="py-3 px-6 text-center">AGE</th>
        <th class="py-3 px-6 text-center">EMAIL</th>
        <th class="py-3 px-6 text-center">PHONE NUMBER</th>
        <th class="py-3 px-6 text-center">STATUS</th>
        <th class="py-3 px-6 text-center">ACTIONS</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      {% endif %}
      {% for lead in leads|dictsort:"first_name" %}
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="py-3 px-6 text-left">
          <div class="flex items-center">
            <div class="mr-2">
              <img class="w-12 h-12 rounded-full" src={{ lead.profile_picture.url }} alt="" />
            </div>
            <a class="text-blue-500 hover:text-blue-800" href="{% url 'leads:lead-detail' lead.pk %}">
              <span class="font-medium">{{ lead.first_name }} {{ lead.last_name }}</span></a>
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex items-center justify-center">
            {{ lead.age }}
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex items-center justify-center">
            {{ lead.email }}
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex items-center justify-center">
            {{ lead.phone_number }}
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          {% if lead.category|stringformat:"s" == "Contacted"%}
          <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">Contacted</span>
          {% elif lead.category|stringformat:"s" == "Converted"%}
          <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Converted</span>
          {% elif lead.category|stringformat:"s" == "Unconverted"%}
          <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">Unconverted</span>
          {% else %}
          <span class="bg-blue-200 text-blue-600 py-1 px-3 rounded-full text-xs">New</span>
          {% endif %}
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex item-center justify-center">
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'leads:lead-detail' lead.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg></a>
            </div>
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'leads:lead-category-update' lead.pk %}"><svg xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path>
                </svg></a>
            </div>
            {% if request.user.is_organizer %}
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'leads:lead-update' lead.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </a>
              </svg>
            </div>
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'leads:lead-delete' lead.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg></a>
              {% endif %}
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  {% if unassigned_leads.exists %}


  <div class="w-full mb-6 py-6 flex justify-between items-center
        border-b border-gray-200">
    <div class="mt-10">
      <h1 class="text-4xl text-gray-800">Unassigned leads</h1>

    </div>
  </div>
  <table class="min-w-max w-full table-auto">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">NAME</th>
        <th class="py-3 px-6 text-center">AGE</th>
        <th class="py-3 px-6 text-center">EMAIL</th>
        <th class="py-3 px-6 text-center">PHONE NUMBER</th>
        <th class="py-3 px-6 text-center">STATUS</th>
        <th class="py-3 px-6 text-center">ACTIONS</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      {% for lead in unassigned_leads %}
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="py-3 px-6 text-left">
          <div class="flex items-center">
            <div class="mr-2">
              <img class="w-12 h-12 rounded-full" src={{ lead.profile_picture.url }} alt="" />
            </div>
            <a class="text-blue-500 hover:text-blue-800" href="{% url 'leads:lead-detail' lead.pk %}"><span
                class="font-medium">{{ lead.first_name }} {{ lead.last_name }}</span></a>
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex items-center justify-center">
            {{ lead.age }}
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex items-center justify-center">
            {{ lead.email }}
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex items-center justify-center">
            {{ lead.phone_number }}
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <span class="bg-yellow-200 text-yellow-600 py-1 px-3 rounded-full text-xs">Unassigned</span>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex item-center justify-center">
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'leads:lead-detail' lead.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg></a>
            </div>
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'leads:assign-agent' lead.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path>
                </svg></a>
            </div>
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'leads:lead-update' lead.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </a>
              </svg>
            </div>
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'leads:lead-delete' lead.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg></a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    </tbody>
  </table>
</div>
</div>

{% endblock content %}