{% extends "base.html" %} {% block content %}

<div class="container px-5 py-24 mx-auto flex flex-wrap">
  <div class="
        w-full
        mb-6
        py-6
        flex
        justify-between
        items-center
        border-b border-gray-200
      ">
    <div>
      <h1 class="text-4xl text-gray-800">Agents</h1>

    </div>
    <div>
      <a class="text-gray-500 hover:text-blue-500" href="{% url 'agents:agent-create' %}">Create a new Agent</a>
    </div>
  </div>
  {% if object_list %}
  <table class="min-w-max w-full table-auto">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">NAME</th>
        <th class="py-3 px-6 text-center">EMAIL</th>
        <th class="py-3 px-6 text-center">ACTIONS</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">

      {% for agent in object_list %}
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="py-3 px-6 text-left">
          <div class="flex items-center">
            <div class="mr-2">
              <img class="w-12 h-12 rounded-full" src={{  agent.user.user_picture.url }} alt="" />
            </div>
            <a class="text-blue-500 hover:text-blue-800" href="{% url 'agents:agent-detail' agent.pk %}">
              <span class="font-medium">{{ agent.user.first_name }} {{ agent.user.last_name }}</span></a>
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex items-center justify-center">
            {{ agent.user.email }}
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex item-center justify-center">
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'agents:agent-detail' agent.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg></a>
            </div>
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'agents:agent-update' agent.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </a>
              </svg>
            </div>
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <a href="{% url 'agents:agent-delete' agent.pk %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg></a>
            </div>

          </div>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    </tbody>
  </table>



  {% endblock content %}